/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

/***************
RESET
***************/

* {
-moz-box-sizing: border-box;
Box-sizing: border-box;
Padding: 0;
Margin: 0;
line-height: 1.2em;
} 

/***************
GENERAL
***************/

body {
	font-family: "Open Sans", sans-serif;
	min-width: 940px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h1,h2,h3 {
	text-transform: uppercase;
}

a {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.right {
	float: right;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 0 6px;
}
/***************
TOP NAV
***************/

.header {
	height: 35px;
	padding: 7px 22px;
	font-size: .8em;
	border-bottom: 1px solid #ccc;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 10000;
}

.nav-item {
	display: inline-block;
	margin-right: 3px;
}

.nav-bar {
	display: inline-block;
}

/***************
SOCIAL
***************/

.right .nav-item {
	margin: 0 0 0 3px;	
}



/***************
START PAGE
***************/

.start-page {
	height: 100vh;
	background: rgba(209, 209, 209,.2);
	padding-top: 30vh;
	padding-left: 120vh;

}

.page-title {
	display: inline-block;
	text-align: center;
	position: fixed;
	z-index: -1;
	color: #fff;
	text-shadow: 2px 1px 0 #000;
}

.page-title h1 {
	font-size: 2em;
}

.page-title h1:first-letter {
	font-size: 1.4em;
}

/***************
BACKGROUND VIDEO
***************/

.background-vid {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}


/***************
WATCH SECTION
***************/

.watch {
	z-index: 2000;
	background: #fff;
	height: 100vh;
	padding: 100px 0;
	width: 100%;
}

.main-vid-box {
	height: 434px;
	width: 768px;
	margin-bottom: 20px;
}

.dl-options {
	display: inline;
}

.dl-options .download-button {
	margin-right: 10px;
}

/***************
LISTEN SECTION
***************/

.listen {
	background: #F7F7F7;
	height: 45vh;
	padding-top: 10vh;
	
}

.audio-track {
	margin: 20px 0 10px;
}

/***************
ABOUT SECTION
***************/

.about {
	background: #fff;
	height: 75vh;
	padding-top: 10vh;
	
}

.lead {
	margin: 20px 0 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	text-shadow: 2px 1px #ccc;
	text-transform: uppercase;
}
.section-container {
	text-align: center;
}

.weybec-people {
	display: inline-block;
	margin: 20px 0;
	text-align: center;
}

.img-box img {
	border-radius: 12px;
}

.img-box {
	display: inline-block;
	height: 150px;
	width: 150px;
	margin: 0 10px;
	position: relative;
}

.mask {
	opacity: 0;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	z-index: 2;
	color: #fff;
	background: rgba(0,0,0,.3);
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 65px;
	border-radius: 10px;
}

.mask:hover {
	opacity: 1;
}

/***************
FOOTER
***************/

.footer {
	height: 30px;
	padding: 6px 5px;
	font-size: .8em;
	width: 100%;
	background: #fff;
}

.footer p {
	display: inline;
	font-size: .8em;
}